@import url("https://fonts.googleapis.com/css?family=Lato");
@font-face {
  font-family: Arial-BoldMT;
  src: url("../fonts/Arial-BoldMT.ttf");
}
@font-face {
  font-family: ArialMT;
  src: url("../fonts/ARI.ttf");
}
h1 {
  font: 21px/24px Verdana;
  color: #666666;
}

h2 {
  font: 18px/21px Verdana;
  color: #4a4a4a;
}

h3 {
  font: 16px/22px Verdana;
  color: #666666;
}

h4 {
  font: 16px/22px Verdana;
  color: #666666;
}

h5 {
  font: 14px/16px "Arial-BoldMT";
  color: #ffffff;
}

h6, .nav-link {
  font: 14px/16px "Arial-BoldMT";
  color: #333333;
}

p {
  font: 16px/30px Arial;
  color: #4a4a4a;
}

.text-style-0 {
  font: 14px/18px "Lato", sans-serif;
  color: #54585a;
}

.text-style-1 {
  font: 14px/16px "ArialMT";
  color: #54585a;
}

.text-style-2 {
  font: 14px/18px "Lato", sans-serif;
  color: #666666;
}

.text-style-3 {
  font: 14px/30px "Arial-BoldMT";
  color: #4a4a4a;
}

.text-style-4 {
  font: 14px/16px "ArialMT";
  color: #333333;
}

.text-style-5 {
  font: 14px/16px "Arial-BoldMT";
  color: #333333;
}

a {
  color: #0889BB;
  text-decoration: none;
}

a:hover, a:active, a:focus {
  color: #0889BB;
  text-decoration: underline;
}

.nav-link:hover {
  color: #d19c6a;
  text-decoration: none;
}

header {
  position: relative;
  top: 7px;
}

i {
  color: #4a4a4a;
}

i:hover {
  color: #d19c6a;
}

button {
  font-family: Arial;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 5px;
}

button:hover {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
}

button:focus {
  outline: none;
}

.chest-body {
  padding-bottom: 0px;
}

.chest-main-content-row {
  margin-top: 75px;
  margin-bottom: 25px;
}

.chest-single-post-content .chest-main-content-row {
  margin-top: 25px;
}

#chest-return-to-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 9999;
  cursor: pointer;
  border: none;
  background-color: transparent;
}
#chest-return-to-top .fa-circle, #chest-return-to-top .fa-angle-up {
  color: #666666;
  background-color: transparent;
}

#chest-return-to-top:hover .fa-circle, #chest-return-to-top:hover .fa-angle-up {
  color: #d19c6a;
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}

.chest-page-content {
  padding: 0px;
}

.chest-right-sidebar-content {
  border: 1px #666666 solid;
  padding: 0px;
}

.chest-right-sidebar-content > li:last-of-type {
  border-bottom: none;
}

.chest-right-sidebar-content > li {
  list-style: none;
  width: 100%;
  border-bottom: 1px solid #dbdad5;
  padding: 10px 25px;
}

.chest-search-item-link:hover {
  text-decoration: none;
  top: -2px;
  position: relative;
}

.chest-search-post-title {
  color: #085394;
}

@media (min-width: 992px) {
  .hidden-desktop {
    display: none !important;
  }

  .chest-main-content-row {
    padding-left: 115px;
    padding-right: 115px;
  }

  .chest-main-content-w-sidebar {
    padding-right: 130px;
  }
}
@media (max-width: 991px) {
  .hidden-mobile {
    display: none !important;
  }

  .chest-right-sidebar-content {
    margin-top: 30px;
  }

  .chest-main-content-row {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media (min-width: 1200px) {
  .navbar-important-link {
    width: 215px;
    display: table;
  }
}
@media (min-width: 992px) {
  .navbar {
    height: 55px;
    padding: 0rem;
  }

  .navbar-collapse, .navbar-nav {
    height: 100%;
  }

  .nav-item, .chest-user-nav-item {
    border-right: 2px solid #979797;
    text-align: center;
  }

  .nav-item a {
    overflow: hidden;
  }

  .navbar-expand-lg .navbar-nav .nav-link, .chest-user-nav-item {
    padding: 0px 20px;
    height: 55px;
  }

  #chest-nav-search form {
    position: absolute;
    top: 50px;
  }

  .chest-util-nav a.nav-link {
    display: table-cell;
    vertical-align: middle;
  }

  .nav-item:hover .chest-util-nav .dropdown-menu {
    display: block;
  }

  .chest-util-nav .dropdown-menu {
    max-width: 215px;
    border: 2px solid #979797;
  }

  #chest-search-form-container {
    padding: 15px;
    background-color: #333333;
    border: 2px solid #666666;
    left: -270px;
    top: -15px;
    width: 275px;
    position: relative;
  }
  #chest-search-form-container button {
    height: 33px;
    background-color: #666666;
    color: #ffffff;
    top: 1px;
    position: relative;
  }
  #chest-search-form-container button:hover {
    cursor: pointer;
  }
}
.chest-util-nav .dropdown-menu {
  position: absolute;
  border-radius: 0px;
  border-top: none;
  left: -2px;
}

.chest-util-nav .dropdown-menu li {
  min-height: 30px;
  position: relative;
  display: block;
  overflow: hidden;
}

.chest-util-nav .dropdown-menu .nav-link {
  padding: 0px 2px 0px 10px !important;
  height: auto !important;
  display: table-cell !important;
  vertical-align: middle !important;
  position: relative !important;
  display: block !important;
  text-align: left !important;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

.navbar-dark .navbar-nav .nav-link {
  color: #ffffff;
}

#chest-user-nav a {
  text-decoration: none;
}

.navbar .svg-inline--fa {
  margin-left: 7px;
  margin-right: 7px;
}

#chest-user-nav {
  display: flex;
  height: 100%;
  font: 14px/16px "Arial-BoldMT";
  color: #333333;
}
#chest-user-nav .chest-user-nav-item {
  padding: 20px;
  color: #ffffff;
  border-right: 2px solid #979797;
  display: table-cell;
  vertical-align: middle;
  height: 55px;
  padding: 0px 20px;
}
#chest-user-nav #chest-nav-search {
  padding: 18px;
}

#chest-search-input {
  position: relative;
  z-index: 999999;
  width: 150px;
}

#searchsubmit:focus {
  outline: 0;
}

.chest-util-nav-logo {
  height: 20px;
  width: auto;
  font-size: inherit;
  padding-top: 2px;
  padding-bottom: 2px;
  margin: 0rem 0.8rem;
}

.chest-util-nav-home-link {
  height: 100%;
  padding-top: 13px;
}

#chest-nav-search {
  padding-right: 10px;
}

.chest-util-nav #searchsubmit:hover {
  color: #d19c6a;
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
  cursor: pointer;
}
.chest-util-nav .chest-util-nav-logo:hover {
  -webkit-filter: none;
  /* Safari 6.0 - 9.0 */
  filter: none;
}

.dropdown-item:focus, .dropdown-item:hover {
  background-color: inherit;
}

.chest-util-nav-1 {
  background-color: #ffffff;
  border-bottom: 2px solid #979797;
}
.chest-util-nav-1 a, .chest-util-nav-1 .nav-link, .chest-util-nav-1 #chest-user-nav .chest-user-nav-item {
  color: #4a4a4a;
}
.chest-util-nav-1 .chest-util-nav-home-link {
  border-right: 2px solid #979797;
}
.chest-util-nav-1 #searchsubmit {
  color: #4a4a4a;
  background-color: transparent;
  border: none;
}
.chest-util-nav-1 .chest-util-nav-logo {
  -webkit-filter: grayscale(100%) brightness(50%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%) brightness(50%);
}
.chest-util-nav-1 #chest-search-form-container {
  background-color: #ffffff;
  border-color: #979797;
}
.chest-util-nav-1 .dropdown-menu {
  background-color: #ffffff;
  color: #4a4a4a;
  border: 2px solid #979797;
  border-top: none;
}
.chest-util-nav-1 .navbar-toggler {
  border-color: #bdbdbd;
  background-color: #bdbdbd;
}

.chest-util-nav-2 {
  background-color: #4a4a4a;
  border-bottom: 2px solid #666666;
}
.chest-util-nav-2 a, .chest-util-nav-2 .nav-link, .chest-util-nav-2 #chest-user-nav .chest-user-nav-item {
  color: #ffffff;
}
.chest-util-nav-2 .chest-util-nav-home-link {
  border-right: 2px solid #979797;
}
.chest-util-nav-2 #searchsubmit {
  color: #ffffff;
  background-color: transparent;
  border: none;
}
.chest-util-nav-2 .chest-util-nav-logo {
  -webkit-filter: grayscale(100%) brightness(250%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%) brightness(250%);
}
.chest-util-nav-2 .dropdown-menu {
  background-color: #4a4a4a;
  color: #ffffff;
  border: 2px solid #666666;
  border-top: none;
}
.chest-util-nav-2 .navbar-toggler {
  border-color: #979797;
  background-color: #979797;
}

.chest-util-nav-3 {
  background-color: #dbdad5;
  border-bottom: 2px solid #979797;
}
.chest-util-nav-3 a, .chest-util-nav-3 .nav-link, .chest-util-nav-3 #chest-user-nav .chest-user-nav-item {
  color: #4a4a4a;
}
.chest-util-nav-3 .chest-util-nav-home-link {
  border-right: 2px solid #979797;
}
.chest-util-nav-3 #searchsubmit {
  color: #4a4a4a;
  background-color: transparent;
  border: none;
}
.chest-util-nav-3 .chest-util-nav-logo {
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
.chest-util-nav-3 .dropdown-menu {
  background-color: #dbdad5;
  color: #4a4a4a;
  border: 2px solid #979797;
  border-top: none;
}
.chest-util-nav-3 .navbar-toggler {
  border-color: #bdbdbd;
  background-color: #bdbdbd;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover, #chest-user-nav .chest-user-nav-item:hover, .dropdown-item:hover, .chest-util-nav a.nav-link:hover {
  color: #d19c6a;
}

#chest-user-nav #chest-nav-user {
  border-right: none;
}

.chest-util-nav .dropdown-menu li {
  border: none;
}
.chest-util-nav .dropdown-menu li a {
  font: 14px/16px "Arial-BoldMT";
}

@media (max-width: 1199px) and (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link, .chest-user-nav-item {
    padding: 0px 10px;
  }
}
@media (max-width: 991px) {
  #chest-user-nav {
    border-top: 2px solid #979797;
  }

  #chest-user-nav .chest-user-nav-item {
    border-right: 1px solid #979797;
    text-align: center;
  }

  #chest-nav-user {
    border-right: none !important;
  }

  #chest-user-nav #chest-nav-search {
    padding-top: 12px;
  }

  .chest-util-nav .dropdown-menu {
    display: block;
    position: relative;
    border: none;
  }

  .chest-util-nav .dropdown-menu .nav-link {
    border: none !important;
  }

  #chest-search-form-container {
    padding: 15px;
    background-color: #333333;
    border: 2px solid #666666;
    left: 75px;
    bottom: -50px;
    width: 275px;
    position: absolute;
  }
  #chest-search-form-container button {
    height: 33px;
    background-color: #666666;
    color: #ffffff;
    top: 1px;
    position: relative;
  }
  #chest-search-form-container #chest-search-input {
    float: left;
  }

  .chest-footer-upper-container:nth-of-type(4) {
    border-bottom: 0px;
    margin-bottom: 0px;
  }
}
.chest-main-nav-container {
  min-height: 100px;
  margin-bottom: 10px;
}

.chest-main-nav a {
  font: 16px/22px "Lato", sans-serif;
  color: #4a4a4a;
  text-transform: uppercase;
  display: block;
  padding: 15px;
}

#chest-nav-logo-container {
  padding-top: 22px;
  margin-left: 130px;
  margin-right: 115px;
}

.chest-main-nav li {
  text-align: center;
}

.chest-main-nav ul {
  display: block;
}

.chest-main-nav a:hover, .chest-main-nav a:focus, .chest-main-nav a:active {
  color: #ffffff;
  background-color: #A2AAAD;
  text-decoration: none;
}

#chest-nav-logo {
  max-width: 200px;
  max-height: 55px;
}

@media (min-width: 992px) {
  .chest-main-nav-container {
    margin-right: 115px;
  }

  #chest-nav-logo-container {
    float: left;
  }

  .chest-main-nav li {
    float: left;
    margin: 20px;
    margin-top: 33px;
  }

  .chest-main-nav ul {
    float: right;
  }
}
@media (max-width: 991px) {
  #chest-nav-logo-container {
    text-align: center;
    margin-bottom: 5px;
    margin: auto;
  }

  .chest-main-nav-container {
    min-height: 240px;
  }
}
.carousel-inner {
  top: -90px;
}

.carousel-item, .carousel-item img {
  height: 60vw !important;
}

#myCarousel {
  top: 90px;
}
#myCarousel h1, #myCarousel p {
  color: #ffffff;
}
#myCarousel h1 {
  font-size: 44px;
  font-family: "Verdana";
  background-color: rgba(0, 0, 0, 0.3);
  padding: 1.5rem 0.5rem;
  text-shadow: 2px 2px #4a4a4a;
}
#myCarousel p:first-of-type {
  font-size: 24px;
  font-family: "Lato", sans-serif;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 1.2rem 0.5rem;
}
#myCarousel .carousel-caption {
  bottom: 10rem;
}
#myCarousel .btn {
  background-color: #2c97c7;
  font-family: Arial;
  font-weight: bold;
  font-size: 16px;
  padding: 15px 30px;
  border: none;
  text-transform: uppercase;
  border-radius: 5px;
}
#myCarousel .btn:hover {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
}
#myCarousel .carousel-indicators {
  bottom: 150px;
}

a.carousel-control-prev, a.carousel-control-next {
  top: -90px;
  height: 60vw;
}

.carousel-caption h1, .carousel-caption p:first-of-type {
  display: inline-block;
}

@media (max-width: 991px) {
  #myCarousel .carousel-caption {
    top: 5px;
  }
  #myCarousel .carousel-indicators {
    bottom: 100px;
  }
  #myCarousel h1 {
    font-size: 1.2rem;
    padding: 0.5rem 0.5rem;
    margin-bottom: 0.5rem;
  }
  #myCarousel p:first-of-type {
    font-size: 0.8rem;
    line-height: 1rem;
    padding: 0.5rem 0.5rem;
    margin-bottom: 0.5rem;
  }
  #myCarousel .btn {
    font-size: 1rem;
    padding: 5px;
  }
}
.chest-footer-upper {
  min-height: 285px;
  background-color: #dcdcdc;
  padding: 50px 130px;
}

.chest-upper-footer-heading {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 25px;
}

.chest-social-icon {
  color: #ffffff;
}

.chest-social-circle {
  color: #4a4a4a;
}

.chest-social-icon-container {
  padding: 3px;
}

.chest-social-icon-container:hover .chest-social-circle {
  color: #d19c6a;
}

.chest-contact-info {
  float: left;
  margin-left: 5px;
  top: -3px;
  position: relative;
}

.chest-contact-container {
  display: flex;
}

.chest-footer-upper-subscribe-form input {
  width: 100%;
}

.chest-footer-upper-subscribe-form button {
  color: #ffffff;
  text-transform: uppercase;
  background-color: #979797;
  font: 14px Arial;
  font-weight: bold;
  height: 33px;
  width: 145px;
  border-style: none;
  border-radius: 5px;
}

.chest-footer-upper-subscribe-form button:hover {
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
}

.chest-contact-map {
  position: relative;
  padding-bottom: 75%;
  height: 0;
  overflow: hidden;
}

.chest-contact-map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  max-width: 330px;
  max-height: 330px;
}

@media (max-width: 991px) {
  .chest-footer-upper-container {
    margin-bottom: 30px;
    border-bottom: solid 1px #666666;
    padding-bottom: 30px;
  }

  .chest-footer-upper-container:last-of-type {
    border-bottom: none;
    margin-bottom: 0px;
  }

  .chest-footer-upper-subscribe-form input {
    max-width: 250px;
  }

  .chest-footer-upper {
    padding: 50px 30px;
  }
}
.chest-footer-lower {
  background-color: #979797;
  border-bottom: 5px solid #333333;
  min-height: 65px;
}

.chest-footer-lower-row {
  padding-top: 16px;
  padding-left: 115px;
}

.chest-footer-copyright p, .chest-footer-misc-links a, .chest-footer-misc-links span {
  color: #333333;
  font-family: "Lato", sans-serif;
  font-size: 15px;
}

.chest-footer-copyright:hover, .chest-footer-misc-links a:hover {
  color: #d19c6a;
}

.chest-footer-misc-links a, .chest-footer-misc-links span {
  float: right;
  padding: 5px;
  text-decoration: none;
}

.chest-footer-misc-links {
  padding-right: 115px;
}

.chest-footer-need-help-link h3:hover, .chest-footer-learn-link h3:hover {
  color: #0889BB;
}

@media (max-width: 991px) {
  .chest-footer-copyright {
    text-align: center;
  }

  .chest-footer-misc-links {
    text-align: center;
  }

  .chest-footer-lower-row {
    padding: 5px 15px;
  }

  .chest-footer-misc-links {
    padding-right: 0px;
  }

  .chest-footer-copyright p {
    margin-bottom: 5px;
  }

  .chest-footer-misc-links a, .chest-footer-misc-links span {
    float: none;
  }
}
.chest-404-subtitle {
  margin-bottom: 25px;
}

.chest-404-link {
  text-decoration: underline;
  font-weight: 700;
  font-size: 1.1rem;
}

#chest-404-requested-link {
  margin-bottom: 15px;
  display: block;
  overflow-wrap: break-word;
}

.chest-404-link {
  overflow-wrap: break-word;
}

#chest-404-suggested-list {
  list-style: none;
  padding-left: 0;
}

@media (max-width: 991px) {
  .chest-404-link {
    padding-bottom: 10px;
    display: block;
  }
}
.chest-page-title-container {
  background-color: #54585a;
  min-height: 48px;
  border-top: 2px solid #000000;
  border-bottom: 2px solid #000000;
  padding: 10px 130px;
  clear: both;
}

.chest-page-title-container h1, .chest-page-title-container h2, .chest-page-title-container h3 {
  color: #ffffff;
  margin: 0;
}

@media (max-width: 575px) {
  .chest-page-title-container {
    text-align: center;
    padding: 10px 5px;
  }
}
#chest-course-page-dateLocation, #chest-course-page-chairs {
  border-top: none;
}

#chest-course-page-dateLocation {
  height: 35px;
  padding-top: 12px;
  background-color: #666666;
}

#chest-course-page-chairs {
  padding-top: 10px;
  background-color: #dcdcdc;
}
#chest-course-page-chairs h3 {
  font: 14px/18px "Lato", sans-serif;
  color: #000000;
}

.chest-course-page-style-blue #chest-course-page-title {
  background-color: #073763;
}
.chest-course-page-style-blue #chest-course-page-dateLocation {
  background-color: #6fa8dc;
}

.chest-course-page-style-orange #chest-course-page-title {
  background-color: #e9a84a;
}
.chest-course-page-style-orange #chest-course-page-dateLocation {
  background-color: #d39843;
}

.chest-recent-posts-row {
  padding: 0px 130px 25px 130px;
  margin-top: -15px;
}

.chest-post-info-row {
  padding: 25px 130px;
}

#chest-recent-posts-title {
  margin-bottom: 25px;
  width: 100%;
  text-align: left;
}

.chest-post-preview-container {
  padding: 0px 10px;
}

.chest-post-preview-container:hover {
  transform: scale(1.02);
}

.chest-post-info-row {
  display: block;
}

.chest-post-preview-container img {
  height: 200px;
  width: 90%;
  object-fit: cover;
}

.chest-post-preview-container p {
  max-width: 90%;
}

.chest-post-preview-outer-container {
  width: 100%;
}

@media (min-width: 992px) {
  .chest-post-preview-outer-container > a > .chest-post-preview-container:first-of-type {
    padding: 0px;
  }

  .chest-post-preview-outer-container > a > .chest-post-preview-container:last-of-type {
    padding: 0px;
  }

  .chest-post-preview-container {
    width: 20%;
    float: left;
  }
}
@media (max-width: 991px) {
  .chest-post-preview-container {
    width: 250px;
    display: inline-block;
  }

  .chest-recent-posts-row {
    padding: 0px 15px 25px 15px;
    text-align: center;
  }

  .chest-post-info-row {
    padding: 25px 15px;
  }

  .chest-post-preview-outer-container {
    display: inline-block;
  }

  #chest-recent-posts-title {
    padding-left: 15px;
  }
}
.chest-blog-post-item-main {
  display: flex;
}

.chest-blog-post-thumbnail {
  width: 90%;
  height: 150px;
  object-fit: cover;
}

.chest-blog-post-item:hover {
  top: -2px;
  position: relative;
}

.chest-blog-post-item {
  margin-bottom: 20px;
}

.chest-blog-post-item-link:hover {
  text-decoration: none;
}

@media (max-width: 991px) {
  .chest-blog-post-thumbnail {
    width: 100%;
    max-width: 300px;
  }
}
