.chest-404-subtitle {
    margin-bottom: 25px;
}

.chest-404-link {
    text-decoration: underline;
    font-weight: 700;
    font-size: 1.1rem;
}

#chest-404-requested-link {
    margin-bottom: 15px;
    display: block;
    overflow-wrap: break-word;
}

.chest-404-link {
    overflow-wrap: break-word;
}

#chest-404-suggested-list {
    list-style: none;
    padding-left: 0;
}

@media (max-width: 991px) {
    .chest-404-link {
        padding-bottom: 10px;
        display: block;
    }
}