//Footer Styles

//Start Upper Footer

.chest-footer-upper {
    min-height: 285px;
    background-color: $chest-fill-light;
    padding: 50px 130px;
}

.chest-upper-footer-heading {
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 25px;
}

.chest-social-icon {
    color: $chest-white;
}

.chest-social-circle {
    color: $chest-dark;
}
.chest-social-icon-container {
    padding: 3px;
}
.chest-social-icon-container:hover .chest-social-circle {
    color: $chest-highlite;
}

.chest-contact-info {
    float: left;
    margin-left: 5px;
    top: -3px;
    position: relative;
}

.chest-contact-container {
    display: flex;
}

.chest-footer-upper-subscribe-form input {
    width: 100%;
}

.chest-footer-upper-subscribe-form button {
    color: $chest-white;
    text-transform: uppercase; 
    background-color: $gray-lighter;
    font: 14px Arial;
    font-weight: bold;
    height: 33px;
    width: 145px;
    border-style: none;
    border-radius: 5px;
}

.chest-footer-upper-subscribe-form button:hover {
    cursor: pointer;
    box-shadow: 1px 1px 1px rgba(0,0,0,.15);
}

.chest-contact-map {
    position: relative;
    padding-bottom: 75%; // This is the aspect ratio
    height: 0;
    overflow: hidden;
}
.chest-contact-map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    max-width: 330px;
    max-height: 330px;
}

@media (max-width: 991px) {
  .chest-footer-upper-container {
        margin-bottom: 30px;
        border-bottom: solid 1px $gray-mid;
        padding-bottom: 30px;
    }  
    .chest-footer-upper-container:last-of-type {
        border-bottom: none;
        margin-bottom: 0px;
    }
    .chest-footer-upper-subscribe-form input {
        max-width: 250px;
    }
    .chest-footer-upper {
        padding: 50px 30px;
    }
}
//End Upper Footer


//Start Lower Footer
.chest-footer-lower {
    background-color: $gray-lighter;
    border-bottom: 5px solid $gray-darker;
    min-height: 65px;
}

.chest-footer-lower-row {
    padding-top: 16px;
    padding-left: 115px;
}

.chest-footer-copyright p, .chest-footer-misc-links a, .chest-footer-misc-links span {
    color: $gray-darker;
    font-family: $font-lato;
    font-size: 15px;
}

.chest-footer-copyright:hover, .chest-footer-misc-links a:hover {
    color: $chest-highlite;
}


.chest-footer-misc-links a, .chest-footer-misc-links span {
    float: right;
    padding: 5px;
    text-decoration: none;
}

.chest-footer-misc-links {
    padding-right: 115px;
}

.chest-footer-need-help-link h3:hover, .chest-footer-learn-link h3:hover {
        color:#0889BB;
}

@media (max-width:991px) {
    .chest-footer-copyright {
        text-align:center;
    }
    .chest-footer-misc-links {
        text-align:center;
    }
    .chest-footer-lower-row {
        padding: 5px 15px;
    }
    .chest-footer-misc-links {
    padding-right: 0px;
    }
    .chest-footer-copyright p {
        margin-bottom: 5px;
    }
    .chest-footer-misc-links a, .chest-footer-misc-links span {
        float: none;
    }
}
//End Loewr Footer