//Front Page Styles

//Carousel Start
.carousel-inner {
    top:-90px;
}

.carousel-item, .carousel-item img {
    height: 60vw !important;   
}

#myCarousel {
    top: 90px;
    
    h1, p {
        color: $chest-white;
    }
    h1 {
        font-size: 44px;
        font-family: "Verdana";
        background-color: rgba(0,0,0,0.3);
        padding: 1.5rem 0.5rem;
        text-shadow: 2px 2px $chest-dark;
    }
    p:first-of-type {
        font-size: 24px;
        font-family: $font-lato;
        background-color: rgba(0,0,0,0.3);
        padding: 1.2rem 0.5rem;
    }
    .carousel-caption {
        bottom: 10rem;
    }
    .btn {
        background-color: #2c97c7;
        font-family: Arial;
        font-weight: bold;
        font-size: 16px;
        padding: 15px 30px;
        border: none;
        text-transform: uppercase;
        border-radius: 5px;
    }
    .btn:hover {
        box-shadow: 1px 1px 1px rgba(0,0,0,.15);
    }
    .carousel-indicators {
        bottom: 150px;
    }
}

a.carousel-control-prev, a.carousel-control-next {
    top: -90px;
    height: 60vw;
}

.carousel-caption h1, .carousel-caption p:first-of-type {
    display: inline-block;
}

@media (max-width: 991px) {
    
    #myCarousel {
        .carousel-caption {
            top: 5px;
        }
        .carousel-indicators {
            bottom: 100px;
        }
        h1 {
            font-size: 1.2rem;
            padding: 0.5rem 0.5rem;
            margin-bottom: 0.5rem;
            
        }
        p:first-of-type {
            font-size: 0.8rem;
            line-height: 1rem;
            padding: 0.5rem 0.5rem;
            margin-bottom: 0.5rem;
        }
        .btn {
            font-size: 1rem;
            padding: 5px;
        }
    }
}
//Carousel End