//Global CSS

//Fonts
    h1 {
        font: 21px/24px Verdana;
        color: $gray-mid; 
    }
    h2 {
        font: 18px/21px Verdana;
        color: $chest-dark;
    }
    h3 {
        font: 16px/22px Verdana;
        color: $gray-mid; 
    }
    h4 {
        font: 16px/22px Verdana;
        color: $gray-mid; 
    }
    h5 {
        font: 14px/16px $font-ArialBoldMT;
        color: $chest-white; 
    }
    h6, .nav-link {
        font: 14px/16px $font-ArialBoldMT;
        color: $gray-darker; 
    }
    p {
        font: 16px/30px Arial;
        color: $chest-dark;      
    }
    .text-style-0 {
        font: 14px/18px $font-lato;
        color: #54585a;            
    }
    .text-style-1 {
        font: 14px/16px $font-ArialMT;
        color: #54585a;            
    }
    .text-style-2 {
        font: 14px/18px $font-lato;
        color: $gray-mid;            
    }
    .text-style-3 {
        font: 14px/30px $font-ArialBoldMT;
        color: $chest-dark;            
    }
    .text-style-4 {
        font: 14px/16px $font-ArialMT;
        color: $gray-darker;            
    }
    .text-style-5 {
        font: 14px/16px $font-ArialBoldMT;
        color: $gray-darker;            
    }
    a {
        color:#0889BB;
        text-decoration: none;
    }
    a:hover, a:active, a:focus {
        color:#0889BB;
        text-decoration: underline;
    }
    .nav-link:hover { 
        color: $chest-highlite;
        text-decoration: none;
    }
//Fonts End

header {
    position: relative;
    top: 7px;
}

i {
    color: $chest-dark;
}

i:hover {
    color: $chest-highlite;
}

button {
    font-family: Arial;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5px;
}
button:hover {
    box-shadow: 1px 1px 1px rgba(0,0,0,.15);
}

button:focus {
    outline: none;
}

.chest-body {
    padding-bottom: 0px;
}

.chest-main-content-row {
    margin-top: 75px;
    margin-bottom: 25px;
}

.chest-single-post-content .chest-main-content-row {
    margin-top: 25px;
}

#chest-return-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 9999;
    cursor: pointer;
    border: none;
    background-color: transparent;
    
    .fa-circle, .fa-angle-up {
        color:$gray-mid;
        background-color: transparent;
    }
}

#chest-return-to-top:hover .fa-circle, #chest-return-to-top:hover .fa-angle-up {
    color: $chest-highlite;
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.chest-page-content {
    padding: 0px;
}

.chest-right-sidebar-content {
    border: 1px $gray-mid solid;
    padding: 0px;
}

.chest-right-sidebar-content > li:last-of-type {
    border-bottom: none;
}
.chest-right-sidebar-content > li {
    list-style: none;
    width: 100%;
    border-bottom: 1px solid $chest-fill-alt;
    padding: 10px 25px;
}

.chest-search-item-link:hover {
    text-decoration: none;
    top: -2px;
    position: relative;
}

.chest-search-post-title {
    color: #085394;
}

@media (min-width: 992px) {
    .hidden-desktop {
        display: none !important;
    }
    .chest-main-content-row {
        padding-left: 115px;
        padding-right: 115px;
    }
    .chest-main-content-w-sidebar {
        padding-right: 130px;
    }
}

@media (max-width: 991px) {
    .hidden-mobile {
        display: none !important;
    }
    .chest-right-sidebar-content {
        margin-top: 30px;
    }
    .chest-main-content-row {
        padding-left: 15px;
        padding-right: 15px;
    }    
}