//Main Nav Styles

.chest-main-nav-container {
    min-height: 100px;
    margin-bottom: 10px;
}
.chest-main-nav a {
    font: 16px/22px $font-lato;
    color: $chest-dark; 
    text-transform: uppercase;
    display: block;
    padding: 15px;
}
#chest-nav-logo-container {
    padding-top: 22px;
    margin-left: 130px;
    margin-right: 115px;
}
.chest-main-nav li {
    text-align: center;
}
.chest-main-nav ul {
    display: block;
}

.chest-main-nav a:hover, .chest-main-nav a:focus, .chest-main-nav a:active { 
    color: $chest-white;
    background-color: #A2AAAD;
    text-decoration: none;
}

#chest-nav-logo {
    max-width: 200px;
    max-height: 55px;
}

@media (min-width: 992px) {
    .chest-main-nav-container {
        margin-right: 115px;  
    }

    #chest-nav-logo-container {
        float: left;
    }

    .chest-main-nav li {
        float: left;
        margin: 20px;
        margin-top: 33px;
    }
    .chest-main-nav ul {
        float: right;
    }
}

@media (max-width: 991px) {
    #chest-nav-logo-container {
        text-align: center;
        margin-bottom: 5px;
        margin: auto;
    }
    .chest-main-nav-container {
        min-height: 240px;
    }
}