.chest-page-title-container {
    background-color: $chest-title-back;
    min-height: 48px;
    border-top: 2px solid $chest-black;
    border-bottom: 2px solid $chest-black;
    padding: 10px 130px;
    clear: both;
}

.chest-page-title-container {
    h1, h2, h3 {
        color: $chest-white;
        margin: 0;
    }
}

@media (max-width:575px) {
   .chest-page-title-container {
        text-align: center;
        padding: 10px 5px;
    }
}


//Course Template Page

#chest-course-page-dateLocation, #chest-course-page-chairs {
    border-top: none;
}

#chest-course-page-dateLocation {
    height: 35px;
    padding-top: 12px;
    background-color: $gray-mid;
}

#chest-course-page-chairs {
    padding-top: 10px;
    background-color: $chest-fill-light;
    h3 {
        font: 14px/18px "Lato", sans-serif;
        color: $chest-black;
    }    
}

.chest-course-page-style-blue {
    #chest-course-page-title {
        background-color: #073763;
    }
    #chest-course-page-dateLocation {
        background-color: #6fa8dc;
    }
}

.chest-course-page-style-orange {
    #chest-course-page-title {
        background-color: #e9a84a;
    }
    #chest-course-page-dateLocation {
        background-color: #d39843;
    }
}

//Course Template Page End