//Single Page
.chest-recent-posts-row {
    padding: 0px 130px 25px 130px;
    margin-top: -15px;
}

.chest-post-info-row {
    padding: 25px 130px;    
}

#chest-recent-posts-title {
    margin-bottom: 25px;
    width: 100%;
    text-align: left;
}

.chest-post-preview-container {
    padding: 0px 10px;
}

.chest-post-preview-container:hover {
    transform: scale(1.02);
}

.chest-post-info-row {
    display: block;
}
.chest-post-preview-container img {
    height: 200px;
    width: 90%;
    object-fit: cover;
}

.chest-post-preview-container p {
    max-width: 90%;
}
.chest-post-preview-outer-container {
    width: 100%;
}

@media (min-width: 992px) {
    .chest-post-preview-outer-container > a > .chest-post-preview-container:first-of-type {
        padding: 0px;
    }

    .chest-post-preview-outer-container > a > .chest-post-preview-container:last-of-type {
        padding: 0px;
    }
    .chest-post-preview-container {
        width: 20%;
        float: left;
    }
    
}

@media (max-width: 991px) {
    .chest-post-preview-container {
        width: 250px;
        display: inline-block;
    }
    .chest-recent-posts-row {
        padding: 0px 15px 25px 15px;
        text-align: center;
    }
    .chest-post-info-row {
        padding: 25px 15px;        
    }
    .chest-post-preview-outer-container {
        display: inline-block;
    }
    #chest-recent-posts-title {
        padding-left: 15px;
    }
}

//End Single Page

//Blog Index Page

.chest-blog-post-item-main {
    display: flex;
}

.chest-blog-post-thumbnail {
    width: 90%;
    height: 150px;
    object-fit: cover;
}

.chest-blog-post-item:hover {
    top: -2px;
    position: relative;
}

.chest-blog-post-item {
    margin-bottom: 20px;
}

.chest-blog-post-item-link:hover {
    text-decoration: none;
}

@media(max-width: 991px) {
    .chest-blog-post-thumbnail {
        width: 100%;
        max-width: 300px;
    }
}

//End Blog Index Page