//Utility Nav Styles

@media (min-width: 1200px) {
    .navbar-important-link {
        width: 215px;
        display: table;
    }
}

@media (min-width: 992px) {
    .navbar {
        height: 55px;
        padding: 0rem;
    }
    .navbar-collapse, .navbar-nav {
        height: 100%;
    }
    .nav-item, .chest-user-nav-item {
        border-right: 2px solid $gray-lighter;
   //     min-width: 85px;
        text-align: center;
    }
    .nav-item a {
        overflow: hidden;
    }
    .navbar-expand-lg .navbar-nav .nav-link, .chest-user-nav-item {
        padding: 0px 20px;
        height: 55px; 
    }
    #chest-nav-search form {
        position: absolute;
        top: 50px;
    }
    .chest-util-nav a.nav-link {
        display: table-cell;
        vertical-align: middle;
    }
    .nav-item:hover .chest-util-nav .dropdown-menu {
        display: block;
    }
    .chest-util-nav .dropdown-menu {
        max-width: 215px;
        border: 2px solid $gray-lighter;
    }
    #chest-search-form-container {
    padding: 15px;
    background-color: $gray-darker;
    border: 2px solid $gray-mid;
    left: -270px;
    top: -15px;
    width: 275px;
    position: relative;

    button {
        height: 33px;
        background-color: $gray-mid;
        color: $chest-white;
        top: 1px;
        position: relative;
    }
    button:hover {
        cursor: pointer;
    }
    }
}

.chest-util-nav .dropdown-menu {
    position: absolute;
    border-radius: 0px;
    border-top: none;
    left: -2px;
}
.chest-util-nav .dropdown-menu li {
    min-height: 30px;
    position: relative;
    display: block;
    overflow: hidden;
}
.chest-util-nav .dropdown-menu .nav-link {
    padding: 0px 2px 0px 10px !important;
    height: auto !important;       
    display: table-cell !important;
    vertical-align: middle !important;
    position: relative !important;
    display: block !important;
    text-align: left !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.navbar-dark .navbar-nav .nav-link {
    color: $chest-white;
}

#chest-user-nav a {
    text-decoration: none;
}
.navbar .svg-inline--fa  {
    margin-left: 7px;
    margin-right: 7px;
}

#chest-user-nav {
    display: flex;
    height: 100%;
    font: 14px/16px $font-ArialBoldMT;
    color: $gray-darker; 
    .chest-user-nav-item {
        padding: 20px;
        color: $chest-white;
        border-right: 2px solid $gray-lighter;
        display: table-cell;
        vertical-align: middle;
        height: 55px;
        padding: 0px 20px;
    }
    
    #chest-nav-search {
        padding: 18px;
    }
}

#chest-search-input {
    position: relative;
    z-index: 999999;
    width: 150px;
}
#searchsubmit:focus {
    outline: 0;
}

.chest-util-nav-logo {
    height: 20px;
    width: auto;
    font-size: inherit;
    padding-top: 2px;
    padding-bottom: 2px;
    margin: 0rem .8rem;
}

.chest-util-nav-home-link {
    height: 100%;
    padding-top: 13px;
}

#chest-nav-search {
    padding-right: 10px;
}

.chest-util-nav {
    #searchsubmit:hover {
        color: $chest-highlite;
        -moz-transform: scale(1.05);
        -ms-transform: scale(1.05);
        -webkit-transform: scale(1.05);
        -o-transform: scale(1.05);
        transform: scale(1.05);
        cursor: pointer;
    } 
    .chest-util-nav-logo:hover {
        -webkit-filter: none; /* Safari 6.0 - 9.0 */
        filter: none;   
    }
}

.dropdown-item:focus, .dropdown-item:hover {
    background-color: inherit;
}

.chest-util-nav-1 {
    background-color: $chest-white;
    border-bottom: 2px solid $gray-lighter;
    a, .nav-link, #chest-user-nav .chest-user-nav-item {
        color: $chest-dark;   
    }
    .chest-util-nav-home-link {
        border-right: 2px solid $gray-lighter;
    }
    #searchsubmit {
        color: $chest-dark;
        background-color: transparent;
        border: none;
    }
    .chest-util-nav-logo {
        -webkit-filter: grayscale(100%) brightness(50%); /* Safari 6.0 - 9.0 */
        filter: grayscale(100%) brightness(50%);
    }
    #chest-search-form-container {
        background-color: $chest-white;
        border-color: $gray-lighter;
    }

    .dropdown-menu {
        background-color: $chest-white;
        color: $chest-dark;
        border: 2px solid $gray-lighter; 
        border-top: none;
    }
    .navbar-toggler {
        border-color: #bdbdbd;
        background-color: #bdbdbd;
    }
}

.chest-util-nav-2 {
    background-color: $chest-dark;
    border-bottom: 2px solid $gray-mid;
    a, .nav-link, #chest-user-nav .chest-user-nav-item {
        color: $chest-white;   
    }
    .chest-util-nav-home-link {
        border-right: 2px solid $gray-lighter;
    }
    #searchsubmit {
        color: $chest-white;
        background-color: transparent;
        border: none;
    }
    .chest-util-nav-logo {
        -webkit-filter: grayscale(100%) brightness(250%); /* Safari 6.0 - 9.0 */
        filter: grayscale(100%) brightness(250%);   
    }
    .dropdown-menu {
        background-color: $chest-dark;
        color: $chest-white;
        border: 2px solid $gray-mid; 
        border-top: none;
    }
    .navbar-toggler {
        border-color: $gray-lighter;
        background-color: $gray-lighter;
    }
}

.chest-util-nav-3 {
    background-color: $chest-fill-alt;
    border-bottom: 2px solid $gray-lighter;
    a, .nav-link, #chest-user-nav .chest-user-nav-item {
        color: $chest-dark;   
    }
    .chest-util-nav-home-link {
        border-right: 2px solid $gray-lighter;
    }
    #searchsubmit {
        color: $chest-dark;
        background-color: transparent;
        border: none;
    }
    .chest-util-nav-logo {
        -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
        filter: grayscale(100%); 
    }
    .dropdown-menu {
        background-color: $chest-fill-alt;
        color: $chest-dark;
        border: 2px solid $gray-lighter; 
        border-top: none;
    }
    .navbar-toggler {
        border-color: #bdbdbd;
        background-color: #bdbdbd;
    }
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover, #chest-user-nav .chest-user-nav-item:hover, .dropdown-item:hover, .chest-util-nav a.nav-link:hover {
    color: $chest-highlite;
}

#chest-user-nav #chest-nav-user {
    border-right: none;
}

.chest-util-nav .dropdown-menu li {
    border: none;
    a {
        font: 14px/16px $font-ArialBoldMT;
    }
}

@media (max-width:1199px) and (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link, .chest-user-nav-item {
        padding: 0px 10px;
    }
}

@media (max-width:991px) {
    #chest-user-nav {
        border-top: 2px solid $gray-lighter;
    }

    #chest-user-nav .chest-user-nav-item {
        border-right: 1px solid $gray-lighter;
        text-align: center;
    }
    #chest-nav-user {
        border-right: none !important;
    }
    #chest-user-nav #chest-nav-search {
        padding-top: 12px;
    }
    .chest-util-nav .dropdown-menu {
        display: block;
        position: relative;
        border: none;
    }
    .chest-util-nav .dropdown-menu li {
        
    }
    .chest-util-nav .dropdown-menu .nav-link {
        border: none !important;
    }
    
    #chest-search-form-container {
        padding: 15px;
        background-color: #333333;
        border: 2px solid #666666;
        left: 75px;
        bottom: -50px;
        width: 275px;
        position: absolute;
        
        button {
            height: 33px;
            background-color: $gray-mid;
            color: $chest-white;
            top: 1px;
            position: relative;
        }
        #chest-search-input {
            float: left;
        }
    }
    .chest-footer-upper-container:nth-of-type(4) {
        border-bottom: 0px;
        margin-bottom: 0px;
    }
}