//Main Theme Colors
$chest-white: #ffffff;
$chest-dark: #4a4a4a; 
$chest-black: #000000; 
$chest-fill-alt: #dbdad5; 
$chest-highlite: #d19c6a;
$chest-button-blue: #2c97c7;
$chest-button-hover: #00a3e1;
$gray-lighter: #979797;
$gray-mid: #666666;
$gray-darker: #333333;
$chest-title-back: #54585a;
$chest-fill-light: #dcdcdc;

//Theme Font Imports
@import url('https://fonts.googleapis.com/css?family=Lato');
@font-face {
    font-family: Arial-BoldMT;
    src: url('../fonts/Arial-BoldMT.ttf');
}
@font-face {
    font-family: ArialMT;
    src: url('../fonts/ARI.ttf');
}
$font-lato: 'Lato', sans-serif;
$font-ArialBoldMT: 'Arial-BoldMT';
$font-ArialMT: 'ArialMT';

//Global Theme Styles
@import 'global';

//Utility Nav Styles
@import 'utility-nav';

//Main Nav Styles
@import 'main-nav';

//Front Page Styles
@import 'front-page';

//Footer Styles
@import 'footer';

//404 Styles
@import '404';

//Page Styles
@import 'pages';

//Post Styles
@import 'posts';